<div class="">
  <h1>New librodiario</h1>

  <div class="body">
    <form class="" action="/librodiario/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">createdAt</label>
          <input type="number" name="createdAt" value="<%= element.createdAt %>" required="false">
        </div>
        <div class="">
          <label for="">updatedAt</label>
          <input type="number" name="updatedAt" value="<%= element.updatedAt %>" required="false">
        </div>
        <div class="">
          <label for="">id</label>
          <input type="number" name="id" value="<%= element.id %>" required="true">
        </div>
        <div class="">
          <label for="">nombre</label>
          <input type="text" name="nombre" value="<%= element.nombre %>" required="false">
        </div>
        <div class="">
          <label for="">razonSocial</label>
          <input type="text" name="razonSocial" value="<%= element.razonSocial %>" required="false">
        </div>
      <button type="submit">Update librodiario</button>
    </form>
    <br />
    <a href="/librodiario">Index</a>
  </div>
</div>