<h4>Operación</h4>


<% if (result.length == 0) { %>
  <h4>
    0 operacion
  </h4>
  <% } else { %>
    <table>
      <thead>
        <th>#</th>

        <th>id</th>
        <th>nombre</th>

        <th>Creado</th>
        <th>Actualizado</th>
        <th colspan="3"></th>
      </thead>

      <tbody>
        <% result.forEach((item, i) => { %>
          <tr>
            <td>
              <%= (i + 1) %>
            </td>


            <td>
              <%= item.id %>
            </td>
            <td>
              <%= item.nombre %>
            </td>
            <td>
              <%= item.createdAt %>
            </td>
            <td>
              <%= item.updatedAt %>
            </td>
            <td>
              <a href="/operacion/show/<%= item.id %>"><i class="small material-icons circle ">visibility</i></a>
            </td>
            <td>
              <a href="#" disabled><i class="small material-icons circle ">delete_forever</i></a>
            </td>
            <td>
              <a href="/operacion/edit/<%= item.id %>"> <i class="small material-icons circle ">edit</i></a>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>

    <% } %>

      <br>
      <a class="waves-effect waves-light btn modal-trigger" href="#modal1">CREAR</a>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <form action="/operacion/crear" method="POST">
          <div class="modal-content">
            <h4>Crear Operación</h4>
                  <input name="idUsuario" value="<%= req.user.id %>" hidden="true" required>

            <input type="text" name="nombre" placeholder="nombre">
          </div>
          <div class="modal-footer">
            <input class="modal-close waves-effect waves-green btn-flat" type="submit" value="CREAR">
        </form>
        <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
        </div>
      </div>
