<!-- <h1>Show PlanDeCuenta</h1> -->
<h1>
  <%= planCuenta.nombre %>
</h1>
<p>
  <strong>idTipoCuenta:</strong>
  <%= planCuenta.codigo %>
</p>

<div class="container">

  <h2 class="header">PLAN DE CUENTAS</h2>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Nueva Cuenta</a>

  <!-- Modal Structure {{{{{{{{{{{{{{{{{{{{{-->
  <div id="modal1" class="modal">
    <form action="/Cuenta/crear" method="POST" id="idForm_cuenta">
      <div class="modal-content">
        <h4>Nueva Cuenta</h4>

        <input name="idPlanDeCuenta" value="<%= planCuenta.id %>" hidden="true" required>
        <input type="text" name="nombre" placeholder="nombre">
        <input type="number" name="codigo" step="0.01" placeholder="codigo">

        <div class="input-field">
            <select name="idOperacion" form="idForm_cuenta">
              <option value="" disabled selected>Tipo de Operación</option>
              <% planCuenta.operaciones.forEach((operacion,i)=>{%>
                <option value="<%= operacion.id%>">
                  <%= operacion.nombre%>
                </option>
                <% })%>
            </select>
            <label>OPERACIÓN</label>
          </div>
      </div>
      <div class="modal-footer">
        <input class="modal-close waves-effect waves-green btn-flat" type="submit" value="CREAR">
    </form>
    <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
    </div>
  </div>

  <!-- }}}}}}}}}}}}}}}}}}}} -->
  <div class="card-panel ">
    <!-- <span>Empresa de azucar OSO -->
    <ul class="collapsible popout">

      <% planCuenta.listaOperaciones.forEach((lOperacion,i)=>{%>
        <li class="active">
          <div class="collapsible-header">
            <i class="medium material-icons">money_off</i> <%= lOperacion.nombre%></div>
          <div class="collapsible-body">
            <% lOperacion.listaCuentas.forEach((cuenta,i)=>{%>
            <span><%= cuenta.codigo%> - <%= cuenta.nombre%>
              <br>
            </span>
            <% })%>
          </div>
        </li>
        <% })%>
    </ul>

    </span>
  </div>

</div>


<br>
<!-- <a href="/PlanDeCuenta/create">New</a>
<a href="/PlanDeCuenta">Back</a> -->
