<!-- <h1>Show PlanDeCuenta</h1> -->
<h3 class="header">
  <%= planCuenta.nombre %>
</h3>
<p>
  <strong>idTipoCuenta:</strong>
  <%= planCuenta.codigo %>
</p>

<!-- <div class="container"> -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Nueva Cuenta</a>

  <!-- Modal Structure {{{{{{{{{{{{{{{{{{{{{-->
  <div id="modal1" class="modal">
    <form action="/Cuenta/crear" method="POST" id="idForm_cuenta">
      <div class="modal-content">
        <h4>Nueva Cuenta</h4>

        <input name="idPlanDeCuenta" value="<%= planCuenta.id %>" hidden="true" required>
        <input type="text" name="nombre" placeholder="nombre">
        <input type="number" name="codigo" step="0.01" placeholder="codigo">

        <div class="input-field">
          <select name="idOperacion" form="idForm_cuenta">
            <option value="" disabled selected>Tipo de Operación</option>
            <% planCuenta.operaciones.forEach((operacion,i)=>{%>
              <option value="<%= operacion.id%>">
                <%= operacion.nombre%>
              </option>
              <% })%>
          </select>
          <label>OPERACIÓN</label>
        </div>
      </div>
      <div class="modal-footer">
        <input class="modal-close waves-effect waves-green btn-flat" type="submit" value="CREAR">
    </form>
    <!-- <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a> -->
    </div>
  </div>

  <!-- }}}}}}}}}}}}}}}}}}}} -->
  <div class="card-panel ">
    <!-- <span>Empresa de azucar OSO -->


    <div class="row">
      <% planCuenta.listaOperaciones.forEach((lOperacion,i)=>{%>

        <div class="col s12 m6">
          <ul class="collection">
            <li class="collection-item active">
              <%= lOperacion.nombre%>
            </li>

            <% lOperacion.listaCuentas.forEach((cuenta,i)=>{%>
              <li class="collection-item"><div><%= cuenta.codigo%> - <%= cuenta.nombre%><a href="/cuenta/delete/<%=cuenta.id%>" class="secondary-content"><i class="material-icons">delete_forever
                </i></a></div></li>
            <% })%>
          </ul>
        </div>

        <% })%>
    </div>

  </div>

<!-- </div> -->


<br>
<!-- <a href="/PlanDeCuenta/create">New</a>
<a href="/PlanDeCuenta">Back</a> -->