<h1>Show plandecuenta</h1>

	<p>
		<strong>createdAt:</strong>
		<%= element.createdAt %>
	</p>
	<p>
		<strong>updatedAt:</strong>
		<%= element.updatedAt %>
	</p>
	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>nombre:</strong>
		<%= element.nombre %>
	</p>
	<p>
		<strong>codigo:</strong>
		<%= element.codigo %>
	</p>
	<p>
		<strong>idEmpresa:</strong>
		<%= element.idEmpresa %>
	</p>

<br>
<a href="/plandecuenta/edit/<%= element.id %>">Edit</a>
<a href="/plandecuenta/create">New</a>
<a href="/plandecuenta">Back</a>
