<h5>LibroDiario</h5>

<div class="container">

	<div class="row">
		<div class="col s12 m12">

			<form action="/librodiario/planCuenta" method="POST" id="carform">
				<!-- Firstname:<input type="text" name="fname"> -->
				<div class="row">
					<div class="col s6 m8">
						<select class="browser-default" name="id" form="carform">
							<% empresas.forEach((empresa,i)=>{%>
								<optgroup label="	<%= empresa.nombre%>">

									<% empresa.plandecuentas.forEach((plancuenta,i)=>{%>
										<option value="<%= plancuenta.id%>">
											<%= plancuenta.id%> -
												<%= plancuenta.nombre%>
										</option>
										<% })%>
								</optgroup>
								<% })%>
						</select>
					</div>
					<div class="col s6 m4">
						<input class="btn" type="submit" value="Escoger Plan">
					</div>
				</div>
			</form>
		</div>
		<div class="col s12 m4">

			<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Nueva Asiento</a> -->
		</div>
	</div>




</div>

<!-- Modal Structure {{{{{{{{{{{{{{{{{{{{{-->
<div class="row">
	<div class="col s8">


		<form action="/Librodiario/crear" method="POST" id="idForm_cuenta2">
			<input name="idPlanDeCuenta" value="<%= idPlanDeCuenta %>" hidden="true" required>
			<div class="row">
				<div class="col s12 m2">
					<h6>Nuevo Dia</h6>

				</div>
				<div class="col s6 m6">
					<input type="text" name="detalle" placeholder="Detalle">
				</div>
				<div class="col s6 m2">
					<input class="datepicker" type="text" name="fecha" placeholder="Fecha">
				</div>
				<div class="col s6 m2">
					
					<input class="btn-flat  green accent-3" type="submit" value="CREAR">
				</div>
			</div>
		</form>




	</div>
	<div class="col s4">

		<a class="waves-effect waves-light btn-small" target="_blank" href="/balance/generarPdf/<%= idPlanDeCuenta%>">
			<i class="material-icons right">picture_as_pdf
			</i>PDF</a>
		<a class="waves-effect waves-light btn-small">
			<i class="material-icons right">file_download
			</i>Excel</a>
	</div>

</div>



<!-- }}}}}}}}}}}}}}}}}}}} -->
<table class="striped">
	<thead>
		<tr>
			<th colspan="2">Fecha</th>
			<th>Detalle</th>
			<th>Código</th>
			<th>Cuenta</th>
			<th>DEBE</th>
			<th>HABER</th>
			<th </th>

		</tr>
	</thead>
	<tbody>
		<% librosDiario.forEach((libroDiario,i) =>{%>
			<%  var fecha = new Date(libroDiario.fecha)%>
				<tr>
					<td colspan="2">
						<%= fecha.toLocaleDateString() %>
					</td>

					<td>
						<%= libroDiario.detalle %>
					</td>
					<td colspan="3"></td>
					<td>
						<a href="/librodiario/delete/<%= libroDiario.id %>">
							<i class="material-icons circle ">delete</i>
						</a>

					</td>
					<td>
						<a href="/librodiario/edit/<%= libroDiario.id %>">
							<i class="material-icons circle ">edit</i>
						</a>
					</td>

				</tr>
				<% libroDiario.asientos.forEach((asiento,j)=>{%>
					<tr>
						<td colspan="3"></td>
						<td>
							<%= asiento.idCuenta.codigo%>
						</td>
						<td>
							<%= asiento.idCuenta.nombre%>
						</td>
						<td>
							<%= asiento.debe%>
						</td>
						<td>
							<%= asiento.haber%>
						</td>

						<td>
							<!-- <a href="/librodiario/edit/<%= libroDiario.id %>">
								<i class="small material-icons circle ">edit</i>
							</a> -->
						</td>
					</tr>
					<%})%>
						<% })%>
							<tr class=" blue-grey lighten-2">

								<% var sumaDebe = 0%>
									<% var sumaHaber = 0%>
										<% librosDiario.forEach((libroDiario,i) =>{%>
											<% libroDiario.asientos.forEach((asiento,j) =>{  %>
												<% sumaDebe = sumaDebe + asiento.debe%>
													<% sumaHaber = sumaHaber + asiento.haber%>
														<%})%>
															<%})%>
																<td colspan="3"></td>
																<td></td>
																<td>TOTAL </td>
																<td>
																	<%= sumaDebe.toFixed(2); %>
																</td>
																<td>
																	<%= sumaHaber.toFixed(2);%>
																</td>
																<td></td>
							</tr>
	</tbody>
</table>



<!--  -->
<!-- <a href="/LibroDiario/create">New</a> -->