<h1>Show Asiento</h1>

	<p>
		<strong>fecha:</strong>
		<%= element.fecha %>
	</p>
	<p>
		<strong>detalle:</strong>
		<%= element.detalle %>
	</p>
	<p>
		<strong>ref:</strong>
		<%= element.ref %>
	</p>
	<p>
		<strong>debe:</strong>
		<%= element.debe %>
	</p>
	<p>
		<strong>haber:</strong>
		<%= element.haber %>
	</p>
	<p>
		<strong>:</strong>
		<%= element. %>
	</p>

<br>
<a href="/Asiento/edit/<%= element.id %>">Edit</a>
<a href="/Asiento/create">New</a>
<a href="/Asiento">Back</a>
